body {
    background: #3299Cc;
}

header {
        background: #0b1b61;
        padding: 20px 0;
}

/*NAVEGAÇÃO ENTRE PAGINAS*/
.navegação {
    padding: 20px 0;
}

.caixa {
    position: relative;
    width: 400px;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 47px;
    right: -433px;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;    
 }

nav a:hover {
    color: rgb(216, 45, 45);
    text-decoration: underline;
}

/*HOME*/

.centralizado {
    text-align: center;
    color: white;
}


a {
    color: white;
    text-decoration: none;
}


p {
    text-align: center;
    color: white;
}

h1 {
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    color: white;
}

h2 {
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    color: white;
}

li {
    text-align: center;
    color: white;
}

#Logo001 {
    position: relative;
    top: -2px;
    right: 476px;
    
}

#multiversuslogo {
    width: 70%;
    top: 0px;
    left: 250px;
    position: relative;
}

#multiversuslogo2 {
    width: 70%;
    top: 0px;
    left: 250px;
    position: relative;
}

#imagemsalsicha {
    position: relative;
   top: 0px;
   left:625px;
}

#salsichaart {
    width: 18%;
    position: absolute;
    left: 78%;
    top: 190%
}

#salsichainstintosuperior {
    width: 18%;
    position: absolute;
    left: 2%;
    top: 193%
}

.italico {
    font-style: italic;
}

#Logo002 {
    
}

footer {
    text-align: center;
	background: #000000
}