body {
    background: linear-gradient(#12236e, rgb(0, 0, 0));
}

header {
        background: #0b1b61;
        padding: 20px 0;
}

strong {
    font-weight: bold;
}

/*NAVEGAÇÃO ENTRE PAGINAS*/
.navegação {
    padding: 20px 0;
}

.caixa {
    position: relative;
    width: 400px;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 47px;
    right: -433px;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;    
 }

nav a:hover {
    color: rgb(216, 45, 45);
    text-decoration: underline;
}

/*HOME*/

a {
    color: white;
    text-decoration: none;
}


p {
    font-family: 'Nunito', sans-serif;
    color: white;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 130px;
    }

h1 {
    font-family: 'Nunito', sans-serif;
    font-size: 30px;
    color: white;
    margin-block-start: 1em;
    margin-block-end: 0.67em;
}

h2 {
    font-family: 'Nunito', sans-serif;
    font-size: 30px;
    text-align: center;
    color: white;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
}

h3 {
    font-family: 'Nunito', sans-serif;
    font-size: 30px;
    text-align: center;
    color: white;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
}

li {
    text-align: center;
    color: white;
}
.mapa1 {
        padding: 0.5em 0;
}

.mapa2 {
    width: 600px;
    margin: 0 auto;
}

.principal {
    width: 100%;
    height: 170px;
    border-radius: 10px;
    object-fit: cover;
}

.Logo001 {
    position: relative;
    top: -2px;
    right: 476px;
    
}

.Banner1 {
    width: 100%;
    height: 332px;
    border-radius: 10px;
    object-fit: cover;
}

.multiversuslogo2 {
    width: 70%;
    top: 0px;
    left: 250px;
    position: relative;
}

.imagemsalsicha1 {
    position: relative;
    width: 500px;
    float: left;
    margin: 0 20px 20px 100px;
}

.imagemsalsicha2 {
    position: relative;
    max-width: 480px;
    height: 335px;  
    overflow: hidden;
    float: right;
    margin: -6px 412px 20px -431px;
}

.italico {
    font-style: italic;
}

.Video {
    width: 560px;
    margin: 2em auto;}

footer {
    text-align: center;
	background: #000000
}

.copyright {
    margin-block-start: 0em;
    margin-block-end: 0em;
}

.centralizado {
    text-align: center;
    color: white;
}

.centralizado2 {
    text-align: center;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 1px;
}

.centralizado3 {
    text-align: center;
    margin-inline-start: 500px;
    margin-inline-end: 500px;
}